*{
    box-sizing: border-box;
}
body{
    width: 500px;
}
.container{
    display: block;
    width: 500px;
    margin: 40px auto;
}

.form-container{
    width: 50%;
    margin: 0 auto;
}
form{
    width: 100%;
}
.form-item{
    width: 100%;
    padding: 20px;
}
.form-item textarea{
    width: 100%;
    height: 200px;
}
.form-item button{
    width: 100%;
}