* {
    box-sizing: border-box;
}
.container{
    display: block;
    width: 350px;
    position: relative;
}

.input-container{
    width: 100%;
}

.bookmark-search{
    width: 100%;
}

.bookmark-list{
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding-top: 0;
    padding-bottom: 0;
}

.book-wrap{
    padding: 2px 10px;
    color: #37474F;
    cursor: pointer;
}

.book-wrap:nth-child(2n+1){
    background-color: #f2f2f2;
}

.book-wrap:hover{
    background-color: #37474F;
    color: #ffffff;
}

.book-wrap.selected{
    background-color: #1565C0;
    color: #ffffff;
}
#update-bookmark{
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
#update-bookmark input{
    width: 100%;
}
#update-bookmark .buttons{
    padding: 10px;
    padding-left: 0;
}
.hide{
    display: none;
}
