/******************START QB**************/

.quota-page #main{
  display: flex;
}

.quota-page #stage {
  flex: 1 75%;
  transition: all 1000ms linear;
  overflow-y: scroll;
}
#quotaBuddy{
  font-family: TitilliumText25L400wt, helvetica, arial, sans-serif;
  background-color: #F1F1F1;
  border-right: 3px solid #DEDEDE;
  transition: all 0.3s linear;
  box-sizing: border-box;
  z-index: 2;
  flex: 0 24%;
  height: 100%;
  max-height: 100%;
}
#quotaBuddy.qbhide{
  flex: 0.000001;
}

#quotaBuddy.qbhide *{
  display: none;
}
#qbtoggle{
  height: 40px;
  width: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #898989;
  color: white;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;
  margin-left: -3px;
  z-index: 10;
  display: none;
}
#qbtoggle.qbhide{
  display: block;
}
#quotaBuddy div#qbTable{
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 60px);
}
#quotaBuddy div#qbTable td{
  height: 15px;
}
#quotaBuddy div#qbHead{
  font-weight: bold;
  border-bottom: 3px solid #DEDEDE;
  height: 55px;
}
.spQB{
  width: 100%;
  height: 25px;
  padding: 0px;
  vertical-align: middle;
  overflow: hidden;
}
.spQBa{
  float:left;
  width: 33.33333%;
  height: 100%;
  color: white;
  margin: 0px;
  padding: 0px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0;
}
.qbred{background-color: #db3236;}
.qbgrey{background-color: #898989;}
.qbgreen{background-color: #3cba54;}
#qbSearch{
  width: 100%;
}
#qbSearch input{
  width: 100%;
  border: none;
  border-radius: 0px;
}
.qbshow{
  display: block;
}
.quotaTogglersHead{
  padding-left: 10px;
}
.quotaTogglersHead td{
  padding-left: 10px;
}

.quotaTogglersHead td h5{
  font-weight: bold;
}
.quotaTogglers{
  padding-left: 20px;
}



/*****************END QB*******************/


/*****************START QUOTA FIXES*******************/
.shortcut-page-fix #canEditQuota{
  margin: 0px !important;
}
.shortcut-page-fix .quota-sheet {
  margin: 0px !important;
  padding: 10px !important;
}
.shortcut-page-fix .quota-sheet .mb-5{
  display: none;
}
.shortcut-page-fix .table.table-single-line thead{
  background-color: #16263b;
}
.shortcut-page-fix .table thead tr>th{
  color: #FFFFFF;
}
.shortcut-page-fix .table.table-single-line tbody tr:hover{
  background-color: rgba(0,0,0,0.075);
}
.shortcut-page-fix .table thead tr th{
  border: 1px solid #16263b;
}
.shortcut-page-fix .table tbody tr td{
  box-shadow: none !important;
  border: 1px solid #e9e9e9 !important;
}


/*****************END QUOTA FIXES*******************/








.highlightEdit{
  border: 3px solid black !important;
}

#search-light{
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.6);
}
#search-light.sl-hide{
  display: none;
}
#sl-container{
  background-color: rgba(255,255,255,1);
  padding: 10px;
  margin: 30vh auto;
  display: block;
  width: 40%;
  box-shadow: 0px 6px 15px 4px rgba(156,156,156,1);
  transition: all 0.5s ease-out;
}

#sl-container:hover{
  box-shadow: 0px 6px 20px 4px rgba(119,119,119,1);
}
#sl-input-container{
  width: 100%;
}
#sl-input{
  line-height: 1.5em;
  font-size: 25px;
  padding:3px;
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  box-shadow: none;
}
#sl-list-container{
  font-size: 20px;
  padding: 10px 0px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
#sl-list-container div{
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px;
  border-bottom: 1px solid rgba(119,119,119,1);
}
#sl-list-container div:hover{
  background-color: #f0f0f0;
}
#sl-list-container div.sl-hide{
  display: none;
}
#sl-list-container div.selected{
  background-color: #9fc5c6;
}


/******************* Exceptions Page ******************************/
/* .exceptions .row.result{
	position: relative;
	height: 400px;
}
.exceptions .row.result .col-md-12{
	height: 100%;
}
.exceptions .row.result .col-md-12 .ng-binding{
	height: 100%;
} */



.always-display{
  display: block !important;
}


/***************************** Options Page ************************************/

.options-page{
  width: 800px;

  *{
    box-sizing: border-box;
  }
  .container{
    display: block;
    width: 800px;
    margin: 40px auto;
  }

  .form-container{
    width: 50%;
    margin: 0 auto;
  }
  form{
    width: 100%;
  }
  .form-item{
    width: 100%;
    padding: 20px;
  }
  .form-item textarea{
    width: 100%;
    height: 200px;
  }
  .form-item button{
    width: 100%;
  }
}